@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
  background: #1e1d22;
  color: #eee;
}

#__next,
#__layout {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  outline: none;
}
