@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Roboto', sans-serif;
  background: #1e1d22;
  color: #eee;
  height: 100%;
}

#__next,
#__layout {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  outline: none;
}
